<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>메인</title>
</head>
<body>
    <h1>메인 입니다.</h1>
    <h2>로그인하지 않고 누구나 사용 가능합니다.</h2>
    
    <h3>
        Welcome, 
        <span th:if="${session.user != null}" th:text="${session.user.username}"></span>
        <span th:unless="${session.user != null}">Guest</span>        
    </h3>
        
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
		function buttonClick() {    
		    const formData = new FormData();
		
		    const data = { title: "게시판 글제목", contents: "게시판 내용" };
		    formData.append("board", JSON.stringify(data));
		    
		    axios({
		        method: "POST", 
		        url: "http://localhost:8080/api/v2/board", 
		        data: formData, 
		        headers: {"Content-Type": "multipart/form-data"}
		    })
		    .then(res => console.log(res))
		    .catch(err => console.log(err));
		}
    </script>
    
    <button onClick="buttonClick()">게시판 글 등록</button>
    
    <a href="/">메인 페이지</a> |
    <a href="/home">홈 페이지</a> |
    <a href="/board">게시판 페이지</a> |
    <a href="/admin">관리자 페이지</a>
</body>
</html>