<html>
<head>
    <meta charset="utf-8">
    <title>회원가입 페이지</title>
</head>
<body>
    <h1>회원가입 페이지 입니다.</h1>
    
    <form method="post" action="/joinProc">
        ID: <input type="text" name="username" placeholder="ID를 입력하세요." />
        <br/>
        PW: <input type="text" name="password" placeholder="PW를 입력하세요." />
        <br/>
        PW확인: <input type="text" name="passwordConfirm" placeholder="PW확인을 입력하세요." />
        <br/>
        이름: <input type="text" name="name" placeholder="이름을 입력하세요." />
        <br/>
        이메일: <input type="text" name="email" placeholder="이메일을 입력하세요." />
        <br/>
        <input type="submit" value="회원가입" />
    </form>
</body>
</html>